[submodule "themes/hugo-theme-even"]
	path = themes/hugo-theme-even
	url = https://banyan.divineduty.xyz/GNUxeava/hugo-theme-even
[submodule "themes/even"]
	path = themes/even
	url = https://banyan.divineduty.xyz/GNUxeava/hugo-theme-even
