[submodule "themes/hugo-theme-even"]
	path = themes/hugo-theme-even
	url = https://gitea.adityakumar.xyz/aditya/hugo-theme-even.git
[submodule "themes/even"]
	path = themes/even
	url = https://gitea.adityakumar.xyz/aditya/hugo-theme-even.git
